doctype html
html
  head
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@habitica')
    meta(name='twitter:title' content='Habitica Level Up')
    meta(name='twitter:description' content='Thanks to my real-life productivity, my Habitica avatar has leveled up! Check it out!')
    meta(name='twitter:image' content='https://s3.amazonaws.com/habitica-assets/assets/achievement-sword.png')
